/* Executable version information */
VS_VERSION_INFO VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE 
FILEVERSION 0,2,0,0
PRODUCTVERSION 0,2,0,0
FILEFLAGS 0
{
 BLOCK "StringFileInfo"
 {
  BLOCK "080904E4"
  {
   VALUE "CompanyName", "©2015-2016 Jeremy Decker\0"
   VALUE "FileDescription", "Win16 DosBox Guest Integration Tool\0"
   VALUE "FileVersion", "0.2.0.0\0"
   VALUE "InternalName", "GuestW16\0"
   VALUE "LegalCopyright", "©2015-2016 Jeremy Decker\0"
   VALUE "OriginalFilename", "GUESTW16.EXE\0"
   VALUE "ProductName", "Win16 Guest Integration Tool\0"
   VALUE "ProductVersion", "0.2.0.0\0"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x809, 1252
 }

}
